# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
netra_env/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# VS Code
.vscode/

# Data
data/*
!data/.gitkeep

# OS specific
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

#downloads
downloads/